extends ~@layouts/basic/main-layout/main-layout.pug

include ~@views/common-level/containers/colorpicker/colorpicker.pug
include ~@views/common-level/containers/slider-datepicker/slider-datepicker.pug
include ~@views/common-level/containers/configurable-slider-demo/configurable-slider-demo.pug
include ~@views/common-level/basic/footer/footer.pug

block append variables
  -
    title = 'jq-range-slider demo';
    keywords = 'demo, jq, JQuery, range-slider, slider, MVP, UI, component, plugin';
    description = 'It\'s slider plugin using MVP pattern. It also contains script for connecting to JQuery';

block content
  main.index-layout
    h1 Examples
    section.index-layout__demo
      h2.index-layout__heading Colorpicker
      +colorpicker
    section.index-layout__demo
      h2.index-layout__heading Dates
      +slider-datepicker
    section.index-layout__demo
      h2.index-layout__heading Playground
      +configurable-slider-demo
block footer
  +footer
