extends ~@layouts/basic/main-layout/main-layout.pug

block append variables
  -
    title = 'jq-range-slider demo';
    keywords = 'demo, jq, JQuery, range-slider, slider, MVP, UI, component, plugin';
    description = 'Возможности компонента jq-range-slider, написанного с применением MVP на javascript.';

block append content
  .content-container
