//- 
  Tip: mixin also uses 'and attributes'(&attributes)
mixin slider-events-emission-table
  table.slider-events-emission-table&attributes(attributes)
    -
      const tableData = htmlWebpackPlugin ? require('@components/common-level/containers/slider-events-emission-table/slider-events-emission-table.json') : { head: { cells: [] }, body: { cells: [] } };
    thead.slider-events-emission-table__head
      tr.slider-events-emission-table__row
        each cell, index in tableData.head.cells
          -
            const scope = index > 0 ? 'col' : undefined;
          th.slider-events-emission-table__data(scope=scope)!= cell
    tbody.slider-events-emission-table__body
      each row in tableData.body.cells
        tr.slider-events-emission-table__row
          each cell, index in row
            if index === 0
              td.slider-events-emission-table__data!= cell
            else
              -
                const title = tableData.head.cells[index];
              td.slider-events-emission-table__data(title=title)!= cell
