mixin meta(pageKeyWords, pageDescription, pageTitle)
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="keywords", content=pageKeyWords)
  meta(name="description", content=pageDescription)
  meta(name="author", content="Nikita Zaitsev <developer.n.zaytsev@gmail.com>")
  title #{pageTitle}
