.slider-config {
  position: relative;
  display: grid;
  grid-gap: 1em;
  border: 1px solid tomato;

  @media (min-width: 768px) {
    grid-template: none / repeat(3, 1fr);
  }

  &__legend {
    position: absolute;
    top: -1em;
    left: 0;
  }

  &__item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid: 1fr / 1fr;
    place-items: center;
    padding: 0.5em;
    color: white;
    border: inherit;
    background-color: tomato;
  }

  &__control-panel-item {
    position: relative;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    border: inherit;

    @media (min-width: 768px) {
      grid-column: span 3;
      grid: 1fr / 50% 50%;
    }
  }
}
