.radio-group {
  display: grid;
  width: 100%;
  grid: 'heading group' / 1fr 1fr;
  place-items: center;

  &__group {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    border: inherit;
    grid-area: group;
  }
}
