.radio-group {
  width: 100%;
  display: grid;
  grid: 'heading group' / 1fr 1fr;
  place-items: center;

  &__group {
    grid-area: group;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    border: inherit;
  }
}
