//- 
  Tip: mixin also uses 'and attributes'(&attributes)
mixin sign
  address.sign&attributes(attributes) Nikita Zaitsev (GitHub:
    a(
      href="https://github.com/NZMinusDev",
      target="_blank",
      rel="noopener noreferrer"
    ) https://github.com/NZMinusDev)
