@use '@shared/styles/media.scss';

.slider-datepicker {
  display: grid;
  width: 100%;
  justify-items: center;

  &__slider {
    width: 75%;

    @media print, screen and (min-width: media.$sm) {
      width: 100%;
    }
  }

  &__result {
    width: 100%;
  }
}
