@font-face {
  font-family: "Material Icons";
  src: local("Material Icons"),
    url("@fonts/material-icons-regular/material-icons-regular.woff") format("woff"),
    url("@fonts/material-icons-regular/material-icons-regular.eot"),
    url("@fonts/material-icons-regular/material-icons-regular.otf") format("opentype"),
    url("@fonts/material-icons-regular/material-icons-regular.ttf") format("truetype"),
    url("@fonts/material-icons-regular/material-icons-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
