include ~@components/common-level/primitives/slider/slider.pug

//- 
  Tip: mixin also uses 'and attributes'(&attributes)
mixin colorpicker
  -
    const { options, colors } = htmlWebpackPlugin ? require('@components/common-level/containers/colorpicker/sliders.json') : { options: {}, colors: ['red'] };
  .colorpicker.js-colorpicker&attributes(attributes)
    .colorpicker__sliders
      each color in colors
        .colorpicker__slider.js-colorpicker__slider(title=color)
          +slider({ options: options, color, isSwitchableTooltips: true })
    .colorpicker__result.js-colorpicker__result(title="color") Color
