include ~@components/common-level/primitives/slider/slider.pug
include ~@components/common-level/primitives/form-field/form-field.pug

//- 
  Tip: mixin also uses 'and attributes'(&attributes)
mixin slider-datepicker
  .slider-datepicker.js-slider-datepicker&attributes(attributes)
    -
      const msInAWeek = 1000 * 60 * 60 * 24 * 7;
      const getTimestamp = (datestring) => new Date(datestring).getTime();

      const currentYear = new Date().getUTCFullYear();
      const sliderOptions = {
        intervals: {
          min: getTimestamp(`${currentYear - 1}`),
          max: getTimestamp(`${currentYear + 1}`),
        },
        start: [getTimestamp(`${currentYear - 0.5}`), getTimestamp(`${currentYear + 0.5}`)],
        steps: msInAWeek,
        formatter: (number) => new Date(number).toString(),
        tooltips: false,
        pips: {
          mode: 'count',
          values: 4,
        },
      };
    .slider-datepicker__slider.js-slider-datepicker__slider
      +slider({ options: sliderOptions })
    .slider-datepicker__result
      .slider-datepicker__text-field.js-slider-datepicker__text-field
        +form-field({ label: 'Date from:', name: `name-lower-result`, orientation: 'column',inputTextAlign: 'center', readonly: true })
      .slider-datepicker__text-field.js-slider-datepicker__text-field
        +form-field({ label: 'Date to:', name: `name-greater-result`, orientation: 'column',inputTextAlign: 'center', readonly: true })
