.range-slider,
.range-slider * {
  user-select: none;
  touch-action: none;
}

.range-slider {
  position: relative;
}

.range-slider_orientation-horizontal {
  & .range-slider__thumb {
    cursor: ew-resize;
  }
}
.range-slider_orientation-vertical {
  transform: rotate(90deg);

  & .range-slider__thumb {
    cursor: ns-resize;
  }
}
