.range-slider,
.range-slider * {
  box-sizing: border-box;
  user-select: none;
  touch-action: none;
}

.range-slider {
  display: inline-flex;
}

.range-slider_orientation-horizontal {
  width: 100%;
  flex-direction: column;
}
.range-slider_orientation-vertical {
  height: 100%;
  flex-direction: row;
}
