@use '@utils/devTools/styles/functions.scss';

html {
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: functions.getLiquidSize(16, 12);
  color: black;
  background-color: white;
}

.main-layout {
  min-height: 100%;
  display: grid;
  grid:
    'header' auto
    'content' 1fr
    'footer' auto / auto;
}

.main-layout__header {
  grid-area: header;
}
.main-layout__content {
  grid-area: content;
}
.main-layout__footer {
  grid-area: footer;
}
