//- mixins
include ~@pug/mixins/meta.pug
include ~@pug/mixins/ico.pug
include ~@pug/mixins/noscript-notification.pug

block variables
  -
    let title = 'Страница';
    let description = '';
    let keywords = '';

doctype html
html(lang="ru")
  head
    +meta(keywords, description, title)
    +ico
  body
    +noscript
    block header
    block content
    block footer
