//- mixins
include ~@shared/utils/pug/mixins/meta.pug
include ~@shared/utils/pug/mixins/ico.pug
include ~@shared/utils/pug/mixins/noscript-notification.pug
include ~@shared/utils/pug/mixins/click-jacking-protector/click-jacking-protector.pug

block variables
  -
    let title = 'Страница';
    let description = '';
    let keywords = '';
    let haveClickJackingDivProtector = true;

doctype html
html(lang="ru")
  head
    +meta(keywords, description, title)
    +ico
    //- if process page after added files of BEM entities to bundle by bemdecl-to-fs-loader
    if htmlWebpackPlugin
      each js in htmlWebpackPlugin.files.js
        script(defer="defer", src=js)
      each css in htmlWebpackPlugin.files.css
        link(rel="stylesheet", href=css)
  body.main-layout
    if haveClickJackingDivProtector
      +click-jacking-protector
    +noscript
    .main-layout__header
      block header
    .main-layout__content
      block content
    .main-layout__footer
      block footer
