@use '@shared/utils/styles/functions.scss';

html {
  height: 100%;
  background-color: white;
  color: black;
  font-size: functions.get-liquid-size(16, 12);
  font-family: 'Times New Roman', Times, serif;
}

.main-layout {
  display: grid;
  min-height: 100%;
  grid:
    'header' auto
    'content' 1fr
    'footer' auto / auto;
}

.main-layout__header {
  grid-area: header;
}

.main-layout__content {
  grid-area: content;
}

.main-layout__footer {
  grid-area: footer;
}
