.range-slider__range {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: tomato;
  opacity: 0;
  will-change: transform;
  transform-origin: 0 0;
  transform-style: flat;
  transition: opacity, (transform 0.3s);
}

.range-slider__range_isConnected {
  opacity: 1;
}
