.range-slider__range {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: tomato;
  border-radius: inherit;
  opacity: 0;
  will-change: transform;
  transform-origin: 0 0;
  transform-style: flat;
}

.range-slider__range_isConnected {
  opacity: 1;
}

.range-slider__range_animate-tap {
  transition: transform 0.3s;
}
