//- 
  options?: see /readme.md
  color?: 'red' | 'green' | 'blue' - color of slider bar
  isSwitchableTooltips: boolean - should tooltips be switchable
  Tip: mixin also uses 'and attributes'(&attributes)
mixin slider({ options = {}, color = '', isSwitchableTooltips = false } = {})
  -
    options.formatter = options.formatter !== undefined ? `${options.formatter}` : undefined;
    
    const colorClass = color === '' ? null : `slider_color_${color}`;
    const colorIsSwitchableTooltips = isSwitchableTooltips === false ? null : 'slider_withSwitchableTooltips';
  .slider.js-slider(class=[colorClass, colorIsSwitchableTooltips], data-options=options)&attributes(attributes)
