.configurable-slider-demo {
  display: grid;
  grid-row-gap: 1em;
  justify-items: center;

  &__slider {
    width: 100%;
  }

  &__submit {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
  }
}
