@use '@shared/styles/media.scss';

.configurable-slider-demo {
  display: grid;
  grid-row-gap: 1em;
  justify-items: center;

  &__slider {
    width: 75%;

    @media print, screen and (min-width: media.$sm) {
      width: 100%;
    }
  }

  &__submit {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1em;

    @media print, screen and (min-width: media.$sm) {
      grid-auto-flow: column;
      grid-column-gap: 1em;
    }
  }

  &__server-response {
    width: 100%;
  }
}
