include ~@views/common-level/primitives/slider/slider.pug

//- 
  Tip: mixin also uses 'and attributes'(&attributes)
mixin colorpicker
  -
    const sliderOptions = {
      orientation: 'vertical',
      intervals: { min: 0, max: 255 },
      start: [127],
      connect: [true, false],
      tooltips: false,
      pips: { isHidden: true },
    }
  .colorpicker.js-colorpicker&attributes(attributes)
    .colorpicker__slider.js-colorpicker__slider(title="red")
      +slider({ options: sliderOptions, color: 'red', isSwitchableTooltips: true })
    .colorpicker__slider.js-colorpicker__slider(title="green")
      +slider({ options: sliderOptions, color: 'green', isSwitchableTooltips: true })
    .colorpicker__slider.js-colorpicker__slider(title="blue")
      +slider({ options: sliderOptions, color: 'blue', isSwitchableTooltips: true })
    .colorpicker__result.js-colorpicker__result(title="color") Color
