@use '@shared/styles/media.scss';

.events-logger {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1em;

  @media print, screen and (min-width: media.$sm) {
    grid-auto-flow: column;
    grid-column-gap: 1em;
  }

  &__firefly {
    padding: 0.5em;
    border: 1px solid tomato;
    border-radius: 4px;
    transition: background-color 0.25s;

    &_active {
      background-color: tomato;
    }
  }
}
